/* Reset CSS
http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
/*	font-size: 100%;*/
    font-size: 62.5%; /* mod */
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* Box sizing */
*, *:before, *:after {
  box-sizing: border-box;
}

/* End Reset CSS */

.container {
    margin: 0 auto;
    padding: 0;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}
.container:after {
    content: "";
    display: block;
    clear: both;
}
.header {
    height: 740px;
    background-image: url("../img/polind-header.gif");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.header:after {
    content: "";
    display: block;
    clear: both;
}
.header a {
    text-decoration: none;
    float: left;
}
.logo {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 10px;
    float: left;
}
.header a p {
    display: block;
    float: left;
    padding-top: 35px;
    font-weight: bold;
    font-size: 1.5rem;
}
.header a:visited {
    color: #fff;
}

.header nav {
    float: right;
    font-size: 0.9rem;
    margin-top: 30px;
}
.header nav:after {
    content: "";
    display: block;
    clear: both;
}
.header nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.header nav ul li {
    margin-left: 22px;
}
.header nav ul li:last-child {
    margin-right: 20px;
}
.top-section {
    margin: 0 auto;
    text-align: center;
    padding-top: 140px;
}
.top-section .title {
    font-size: 4.6rem;
    font-weight: bold;
}
.top-section .red {
    color: #ed6950;
}
.top-section .title-description {
    font-size: 0.9rem;
    color: #54585a;
    padding: 5px;
}
.top-section .search-btn {
    background-color: #ffc74a;
    color: #b98000;
    font-weight: bold;
    border: none;
    padding: 15px 20px;
    margin: 25px;
    border-radius: 30px;
    letter-spacing: 1px;
    cursor: pointer;
}
.top-section .title-description-footer {
    font-size: 0.9rem;
    padding-top: 135px;
}
.header .categories {
    margin-top: 25px;
    float: left;
    width: 100%;
}
.header .categories {
    margin-top: 30px;
    width: 100%;
}
.header .categories ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.header .categories ul li {
    margin: 0;
    -ms-flex-preferred-size: 215px;
    flex-basis: 215px;
}
.header .categories ul li:first-child, .header .categories ul li:last-child {
    padding: 0;
}
.header .categories .category {
    height: 277px;
    background-size: 100% 100%;
}
.header .categories .category .title {
    font-size: 1.7rem;
    font-weight: bold;
    width: 100%;
    text-align: center;
    display: block;
    padding-top: 125px;
}
.header .categories .category .title-description {
    display: block;
    text-align: center;
    font-size: 0.7rem;
    padding: 10px;
}
#photo2 .title, #photo4 .title {
    font-size: 1.2rem;
    font-weight: bold;
    width: 100%;
    text-align: center;
    display: block;
    padding-top: 190px;
}
#photo2 .title-description, #photo4 .title-description {
    display: block;
    text-align: center;
    font-size: 0.6rem;
    padding: 8px;
    color: #ffc74a;
}
.header .categories .category .view-btn {
    background-color: #ffc74a;
    color: #b98000;
    font-weight: bold;
    border: none;
    padding: 8px 25px;
    margin: 0 auto;
    margin-top: 20px;
    display: block;
    border-radius: 30px;
    letter-spacing: 1px;
    font-size: 0.7rem;
    cursor: pointer;
}
.header .categories #photo {
    background-image: url("../img/Photo_dark.png");
}
.header .categories #photo2 {
    background-image: url("../img/Zakopane.png");
}
.header .categories #photo3 {
    background-image: url("../img/Sandomierz.png");
}
.header .categories #photo4 {
    background-image: url("../img/Sopot.png");
}
.header .categories #photo5 {
    background-image: url("../img/Photo_dark2.png");
}

/* Main */
main.content {
    width: 100%;
    margin: 0 auto;
    margin-top: 120px;
    padding-top: 30px;
}

main.content:after {
    content: '';
    display: block;
    clear: both;
}

.search-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    color: #606f81;
}

.search-content h2 {
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center;
    padding: 20px;
}

.search-content #search-input {
    margin: 20px auto;
    width: 45%;
    padding: 10px 20px;
    outline: none;
    border-style: none;
    border-radius: 20px;
    box-shadow: 0 0 200px #c0c0c0;
    background-image: url('../img/search-icon.png');
    background-repeat: no-repeat;
    background-position: 95% 50%;
    font-size: 0.9rem;
}

.buttons {
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%
}
.buttons aside {
    margin: 0 30px;
}



.buttons .left .search {
    background-color: #bdc8d9;
    color: #ffffff;
    font-weight: bold;
    border: none;
    padding: 6px 13px;
    border-radius: 30px;
    letter-spacing: 1px;
    font-size: 0.7rem;
    cursor: pointer;
}

.buttons .left .active {
    background-color: #ffc74a;
}

.buttons .right .search {
    color: #8d97a5;
    font-weight: bold;
    border: 1px solid #e8ebf1;
    background: none;
    padding: 6px 13px;
    border-radius: 30px;
    letter-spacing: 1px;
    font-size: 0.7rem;
    cursor: pointer;
}

.boxes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 50px 130px 0 130px; /*top right bottom left*/
    padding-bottom: 20px;
}

.box {
    background: #fff;
    color: #606f81;
    width: 250px;
    height: 250px;
    margin: 10px;
    padding: 10px;
    box-shadow: 0 0 150px 0 #f4f5f7;
    text-align: center;
}

.box img {
    width: 100%;
}

.box h4 {
    font-size: 1.5rem;
    margin-top: 10px;
    margin-bottom: 5px;
}

.box p {
    font-size: 0.7rem;
}

.box button {
    margin: 20px 0;
    color: #606f81;
    font-weight: bold;
    background: none;
    border: none;
    padding: 10px 15px;
    border-radius: 30px;
    letter-spacing: 1px;
    cursor: pointer;
    box-shadow: 0 0 200px #c0c0c0;
}

.box button.active {
    background-color: #ffc74a;
    color: #b98000;
}

.explore {
    margin: 0 auto;
    background-color: #f8f9fb;
    color: #54585a;
}

.explore:after {
    content: "";
    display: block;
    clear: both;
}

.explore .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-top: 50px;
    margin: 0 215px;
    position: absolute;
    z-index: 1;
}


.explore h2 {
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center;
    padding-top: 50px;
    margin: 0 auto;
    color: #606f81;
}

.explore .background {
    float: right;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    position: relative;
    overflow: hidden;
    z-index: 0;
    top: -55px;
}

.explore .background span {
    color: #f8f9fb;
    font-weight: bold;
    font-size: 12rem;
    text-shadow: 0px 0px 50px rgba(150, 150, 150, 0.4);
    text-align: center;
    position: relative;
    right: -60px;
}

.explore .content .text-content {
    width: 380px;
    font-size: 0.7rem;
    color: #606f81;
    line-height: 1.3rem;
}

.explore .content .text-content h2 {
    color: #f8c759;
    font-weight: bold;
    font-size: 1.8rem;
    text-align: left;
    padding: 15px 0 0 0;
    margin: 0;
}

.explore .content .text-content p {
    padding-top: 15px;
}

.explore button.active {
    margin: 80px 0;
    color: #606f81;
    font-weight: bold;
    background: none;
    border: none;
    padding: 10px 15px;
    border-radius: 30px;
    letter-spacing: 1px;
    cursor: pointer;
    background-color: #ffc74a;
    color: #b98000;
}

.explore .content .picture {
    width: 370px;
    height: 355px;
    margin-left: 20px;
}
.explore .content .picture-border img {
    width: 370px;
    height: 355px;
}
.explore .content .picture-border::after {
    content: '';
    display: block;
    width: 370px;
    height: 355px;
    position: absolute;
    top: 75px;
    left: 430px;
    border: 10px solid #ffc74a;
    z-index: -1;
    overflow: hidden;
}

/* newsletter */
section.newsletter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    background: url('../img/newsletter-background.png') no-repeat;
    background-size: 100%;
    height: 350px;
    text-align: center;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
}

.newsletter h2 {
    font-size: 4.6rem;
    padding: 50px 0 0 0 ;
}

.newsletter button {
    width: 100px;
    margin: 30px auto;
    color: #606f81;
    font-weight: bold;
    background: none;
    border: none;
    padding: 10px 15px;
    border-radius: 30px;
    letter-spacing: 1px;
    cursor: pointer;
    background-color: #ffc74a;
    color: #b98000;
}

.newsletter p {
    font-size: 0.9rem;
}

.newsletter a {
    color: #ffc74a;
}
/* end newsletter*/

/* footer */
footer {
    width:100%;
    height:400px;
    position:relative;
    background-image: url('../img/polind-logo.png');
    background-repeat: no-repeat;
    background-position: center;
    z-index: 1;
}

footer p {
    font-weight: bold;
    font-size: 1.2rem;
    color: #606f81;
    position: absolute;
    top: 62%;
    left: 38%;
}

footer:before {
    width:100%;
    height:100%;
    content:"POLIND";
    display:block;
    position:relative;
    bottom:-20%;
    text-align: center;
    font-size: 15rem;
    color: #fff;
    text-shadow: 0px 0px 100px rgba(150, 150, 150, 0.3);
    z-index: 0;
    overflow: hidden;
}
/*end footer*/



